<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-in</title>
</head>
<body>
    <%= form_for(:session , url: login_path) do |f| %>
     <%= f.label :email, 'Email' %>
     <%= f.email_field :email %>
     <%= f.label :passowrd, 'Password' %>
     <%= f.password_field :passowrd %>
     f.<%= f.submit  'Submit' %>
    
        
    <% end %>
</body>
</html>